@using DatabaseApp.Entities 
@using Microsoft.EntityFrameworkCore
@using System.Linq

<h1>Zarejestrowane wizyty</h1>
<form asp-controller="Appointment" method="post">
    <table style="border: 2px solid black">
        <tr>
            <td>
                Imię  pacjenta:
            </td>
            <td>
                Nazwisko pacjenta:
            </td>
            <td>
                Imię lekarza:
            </td>
            <td>
                Nazwisko lekarza:
            </td>
            <td>
                Termin:
            </td>
            
        </tr>
            @using (var DbContext = new AppointmentContext())
            {
                @foreach (Appointment app in DbContext.Appointments)
                {
                    <tr>
                        <td>
                            <input name="id" type="text" value="@app.AppointmentId" />
                            @DbContext.Patients.Find(app.PatientId).Name
                        </td>
                        <td>
                            <input name="doctor" type="hidden" value="@app.DoctorId" />
                            @DbContext.Patients.Find(app.PatientId).Surname
                        </td>
                        <td>
                            <input type="hidden" name="patient" value="@app.PatientId"/>
                            @DbContext.Doctors.Find(app.DoctorId).Name
                        </td>
                        <td>
                            @DbContext.Doctors.Find(app.DoctorId).Surname
                        </td>
                        <td>
                            <input name="appDate" type="hidden" value="@app.Time" />
                            @app.Time
                        </td>
                        <td>
                            <button type="submit" asp-action="RemoveAppointment">Usuń</button>
                        </td>
                        <td>
                            <button type="submit" asp-action="FindAppointmentToUpdate">Modyfikuj</button>
                    </tr>
                }
            }
        </table>
</form>

<br />
<a href="/Appointment/Index">Powrót</a>

