@using DatabaseApp.Entities 
@using Microsoft.EntityFrameworkCore

<h1>Zarejestrowane wizyty</h1>
<form asp-action="DeleteAppointment" asp-controller="Appointment">
    <table "border: 2px solid">
        <tr>
            <td>
                Imię  pacjenta:
            </td>
            <td>
                Nazwisko pacjenta:
            </td>
            <td>
                Imię lekarza:
            </td>
            <td>
                Nazwisko lekarza:
            </td>
            <td>
                Termin:
            </td>
        </tr>
        @using(var DbContext = new AppointmentContext())
        {
            @foreach(Appointment app in DbContext.Appointments)
             {
                <tr>@app.Patient.Name</tr>
                <tr>@app.Patient.Surname</tr>
                <tr>@app.Doctor.Name</tr>
                <tr>@app.Doctor.Surname</tr>
                <tr>@app.Time</tr>
             }                    
        }
    </table>
    
</form>

<br />
<a href="/Appointment/Index">Powrót</a>

